<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781515236910-r3k5tg3mknmukd0ng02i9b7gavtabccr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781515236910-r3k5tg3mknmukd0ng02i9b7gavtabccr</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ahNicCfpSg4RjQIoH6b4P5e147gYh4I</string>
	<key>GCM_SENDER_ID</key>
	<string>781515236910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashyou.LMessenger</string>
	<key>PROJECT_ID</key>
	<string>lmessenger-eab9a</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessenger-eab9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781515236910:ios:e383b46b19e7e2c6e761bf</string>
</dict>
</plist>